
/* //////////////  css phần màn hình login    ////////////////////// */
/* #loginScreen-content{
    color: #ffffff;
} */
.login-container{
    height: 100vh;
    background-image: url(../img/forest-5375005_1280.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.login-container .aside-right{
    background-color: rgba(236, 240, 241,0.9);
    width: 29%;
    height: 68%;
}
.login-container .aside-right .header h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 120, 120);
    text-align: center; 
    margin-top: 10px;
    font-weight: 200;
}

.login-container .aside-right #login-form .input-wrapper{
    width: 100%;

}

.input-wrapper{
    outline: none;

}
#login-form{
    padding: 20px;
}
.form-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error{
    text-align: left;
}


#redirect-to-login ,#redirect-to-register{
    transition-duration: 0.25s;
}

#redirect-to-login:hover{
    color: #2c3e50;
}
#redirect-to-register:hover{
    color:#2c3e50;
}


@media screen and (max-width:700px), 
    screen and (max-height: 700px){
    .login-container .aside-right{
        display: block;
        display: flex   ;
        align-items: center;
        width: 100%;
        
    }
}
.aside-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
    
}

.login-text{
    font-size: 35px;
    font-weight: bold;
    width: 100px;
    border-bottom: 5px  #0984e3 solid;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
div.form-action{
    width: 300px;
}

.delete-borders{
    border: none;
    border-bottom: 2px  #0984e3 solid;
    background-color: transparent;
    outline: none;
    overflow: none;
    padding: 10px;
    width: 300px;
    transition-duration: 0.25s;
    
}
.delete-borders:hover{
    border-color: #2980b9;
}

#redirect-to-chatScreen{
    outline: none;
    overflow: hidden;
    border: none;
    border-radius: 25px;
}
