*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.input-wrapper{
    margin-bottom: 30px;

}



.btn{
    padding: 8px 20px;
    background-color: #037bfe;
    color: #ffffff;
    border-radius: 5px;
    border: solid 1px black;
    cursor: pointer;
    font-weight: 30px;
   
}
.error{
    color: red;
}
.cursor{
    cursor: pointer;
}
.content{
    word-break: break-all;
}

.header{
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    background-color: #222f3e;
    font-weight: bold;
    
}
.btn.btn-light{
    background-color: unset;
    color: #333333;
}
.btn{
    outline: none;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    transition-duration: 0.25s;
}
.btn:hover{
    background-color: #222f3e;
}
.style-input{
    padding: 10px;
    border-radius: 25px;
    border: #037bfe 1px solid;
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
    outline: none;
}
form#add-user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
